body {
    background-color: rgb(35, 33, 133);
    color: #fff;
}

.jumbotron {
    background-image: url("../img/leo.png");
    background-size: cover;
    overflow: hidden;
    min-height: 300px;
    padding-top: 15%;
}

.btn-success {
    background-color: rgb(224, 109, 73);
    border: seashell;
}

.btn-success:hover {
    background-color: rgb(110, 57, 40);
    border: seashell;
}

.btn-success:active {
    background-color: rgb(136, 161, 168);
    border: seashell;
}

.burger-title {
    font-family: 'Fredoka One', cursive;
    font-size: 65px;
    color: rgb(250, 142, 245);
    text-align: left;
}

.quote-title {
    font-family: 'Satisfy', cursive;
    font-size: 24px;
    text-align: left;
    color: rgb(253, 240, 52);
   
}

#burger-img {
    width: 24px;
    height: 24px;
}